body{
    min-height: 100vh;
    padding-top: 86px;
    background: linear-gradient(0deg, #141414, #5f5f5f);
    background-attachment: fixed;
}

#loader{
    position: fixed;
    inset: 0;
    background:#181818;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:9999;
    transition:opacity .4s;
}

@media (min-width: 992px) {
    .custom-search {
        max-width: 600px;
    }
}

#dashboard,
#alunos,
#treinos,
#planos,
#financeiro,
#relatorios{
    scroll-margin-top: 100px;
}

.destacar{
    animation: destacar .8s ease;
}

@keyframes destacar{
    0%{
        transform:scale(1.05);
    }
    50%{
        transform:scale(1.07);
    }
    100%{
        transform:scale(1);
    }
}